<ion-view title="Secure">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="row" ng-repeat="image in images" ng-if="$index %2 === 0">
      <div class="col col-25" ng-if="$index < images.length">
        <img ng-src="data:image/jpeg;base64, {{images[$index].image}}" width="100%" />
      </div>
      <div class="col col-25" ng-if="$index < images.length">
        <img ng-src="data:image/jpeg;base64, {{images[$index + 1].image}}" width="100%" />
      </div>
    </div>
  </ion-content>

</ion-view>
